@font-face {
    font-family: 'Space Grotesk';
    src: url('../font/SpaceGrotesk-Medium.eot');
    src: url('../font/SpaceGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../font/SpaceGrotesk-Medium.woff') format('woff'),
    url('../font/SpaceGrotesk-Medium.ttf') format('truetype'),
    url('../font/SpaceGrotesk-Medium.svg#../font/SpaceGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../font/SpaceGrotesk-Bold.eot');
    src: url('../font/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../font/SpaceGrotesk-Bold.woff') format('woff'),
    url('../font/SpaceGrotesk-Bold.ttf') format('truetype'),
    url('../font/SpaceGrotesk-Bold.svg#../font/SpaceGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#app {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: $white;
    text-decoration-color: $brand-primary;
}

h1, .h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1.15px;
}

h2, .h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    h1, .h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2px;
    }

    h2, .h2 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1.5px;
    }
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }
}
